/* Mobile small */
@media (max-width: 425px) {
  .hero-text h1 {
    font-size: 36px;
  }

  .hero-grid {
    gap: 26px;
  }

  .carousel-wrapper {
    order: 2;
    width: 100%;
  }

  h1 {
    margin-top: 16px;
  }

  .hero-buttons {
    display: grid;
  }

  .hero-buttons .btn-outline {
    justify-content: center;
  }

  .section,
  .specs {
    padding: 48px 0px;
  }

  .specs h2 {
    font-size: 36px;
  }

  .features h2 {
    font-size: 36px;
  }

  .faq h2 {
    font-size: 36px;
  }

  p {
    font-size: 16px !important;
  }

  .mt-56 {
    margin-top: 30px;
  }

  .download-margin {
    margin-top: 30px;
  }

  .faq-question {
    text-align: start;
  }

  .d-sm-grid {
    display: grid;
    gap: 20px;
  }

  .coustom-width {
    width: 100%;
  }

  .tab-card {
    padding: 16px;
  }

  .tabs {
    margin-bottom: 16px;
  }

  .fs-sm-14 {
    font-size: 14px !important;
  }

  .content-grid {
    gap: 14px;
  }

  .grid-3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .expert-btn {
    width: 100%;
  }

  .gap-sm-12 {
    gap: 12px;
  }

  .d-block {
    display: block;
    border: 1px solid #e1e3e8;
  }

  .contact-grid {
    padding: 24px;
  }

  .fs-sm-36 {
    font-size: 36px !important;
  }

  .contact-grid {
    flex-direction: column;
  }

  .form {
    padding: 20px;
  }

  .footer-card {
    padding: 24px;
  }

  .text-sm-center {
    text-align: center;
  }

  .footer-grid {
    gap: 24px;
  }

  .contact-item {
    margin-bottom: 10px;
  }

  .fs-sm-12 {
    font-size: 12px !important;
  }

  .tabs-tab {
    display: none;
  }

  .fs-sm-28 {
    font-size: 28px !important;
  }

  .companies-scroll {
    overflow-x: scroll;
    gap: 1.5rem;
  }

  .process-controls .img-position {
    display: block;
    border: 1px solid #cfd1d4;
    z-index: 1;
  }

  .process-controls button {
    z-index: 10;
  }

  .tab-gap {
    gap: 24px !important;
  }

  .industry-arrows button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
    font-size: 18px;
  }

  .pt-56 {
    padding-top: 48px;
  }

  .carousel-prev {
    overflow-x: scroll;
  }

  .carousel-prev div {
    height: 40px;
    width: 40px;
  }

  .carousel {
    height: 320px;
  }

  .gap-sm-12 {
    gap: 12px;
  }

  .zoom-box {
    position: absolute;
    left: unset;
    top: 3%;
    right: 3%;
    width: 100px;
    height: 100px;

  }
}

/* ===================================
   TABLET
   768px — 1023px
=================================== */

@media (min-width: 768px) {}

@media (min-width: 426px) and (max-width: 800px) {
  .section {
    padding: 80px 48px;
  }

  .fs-sm-28 {
    font-size: 28px !important;
  }

  .hero-grid {
    gap: 56px;
  }

  .carousel-wrapper {
    order: 2;
    width: 100%;
  }

  .companies-scroll {
    overflow-x: scroll;
    gap: 4rem;
  }

  .d-md-grid {
    display: grid;
  }

  .catalogue-gap {
    gap: 20px;
  }

  .coustom-width {
    width: 100%;
  }

  .justify-md-between {
    justify-content: unset;
  }

  .coustom-md-width {
    flex-direction: row;
  }

  .coustom-md-width input {
    width: 70%;
  }

  .coustom-md-width button {
    width: 30%;
  }

  .grid-3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }

  .grid-3 .portfolio-card {
    box-shadow: 0px 16px 40px -8px #585c5f29;
  }

  .w-md-100 {
    width: 100%;
  }

  .coustom-md-width {
    width: unset;
  }

  .coustom-md-width button {
    width: 100%;
  }

  .align-items-md-center {
    align-items: center;
  }

  .flex-md-column {
    flex-direction: column;
  }

  .footer-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
  }

  .tabs-tab {
    display: none;
  }

  .process-controls button {
    z-index: 10;
  }

  .tab-gap {
    gap: 24px !important;
  }

  .versatile {
    padding: 80px 0px;
  }

  .menu-toggle {
    display: block;
  }

  nav {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: white;
    display: none;
  }

  nav ul {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }

  nav.active {
    display: block;
  }

  .menu-toggle {
    font-size: 28px;
    cursor: pointer;
    display: block;
  }
}

/* ===================================
   DESKTOP
   1024px+
=================================== */
@media (min-width: 1024px) {}